{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_dashboard') }}">Dashboard</a>
                    </li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('search') }}">Recherches des livres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_recherche') }}">Recherche</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
{% endblock %}
