{% extends 'base.html.twig' %}
{% block title %}Resultat{% endblock %}
{% block body %}
    <div class="card-deck">
        {% for livre in livres %}
            {% if livre is empty %}
                <div class="card">
                    <p class="card-title">Il n'ya pas des livres !</p>
                </div>
            {% else %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">titre : {{ livre.titreLivre }}</p>
                            <p class="card-text">auteur : {{ livre.auteur }}</p>
                            <p class="card-text">filiere : {{ livre.filiere }}</p>
                            <p class="card-text">categorie :{{ livre.categorie }}</p>
                            <p class="card-footer">
                                <small class="text-muted">Livres ajoutees</small>
                            </p>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-dark" href="{{ path('app_searchLivre') }}">Retour</a>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-dark" href="{{ path('app_recherche') }}">Stock</a>
    </div>
{% endblock %}